In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/Shareddrives/CSE544_Project/flight_dataset/LA_2021
!ls

/content/drive/Shareddrives/CSE544_Project/flight_dataset/LA_2021
Apr.csv  Dec.csv  Jan.csv   June.csv		    Mar.csv  Nov.csv  Sept.csv
Aug.csv  Feb.csv  July.csv  LA_preprocessing.ipynb  May.csv  Oct.csv

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import glob

In [ ]:
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat(map(pd.read_csv, csv_files), ignore_index = True)
df = df[df['ORIGIN_STATE_ABR'] == 'LA']
df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_CITY_NAME,DEST_STATE_ABR,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,FLIGHTS
17,2021,1,1,23,6,1/23/2021 12:00:00 AM,WN,3612,"New Orleans, LA",LA,"Atlanta, GA",GA,1130.0,-5.0,1340.0,-20.0,0.0,NaN,0.0,1.0
18,2021,1,1,23,6,1/23/2021 12:00:00 AM,WN,4245,"New Orleans, LA",LA,"Nashville, TN",TN,1422.0,-3.0,1538.0,-12.0,0.0,NaN,0.0,1.0
19,2021,1,1,23,6,1/23/2021 12:00:00 AM,WN,4560,"New Orleans, LA",LA,"Baltimore, MD",MD,1511.0,11.0,1822.0,2.0,0.0,NaN,0.0,1.0
20,2021,1,1,23,6,1/23/2021 12:00:00 AM,WN,2511,"New Orleans, LA",LA,"Dallas, TX",TX,1520.0,-5.0,1647.0,-8.0,0.0,NaN,0.0,1.0
21,2021,1,1,23,6,1/23/2021 12:00:00 AM,WN,2907,"New Orleans, LA",LA,"Dallas, TX",TX,621.0,-4.0,748.0,-7.0,0.0,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111427,2021,4,12,26,7,12/26/2021 12:00:00 AM,YX,5610,"New Orleans, LA",LA,"New York, NY",NY,1314.0,-6.0,1709.0,-3.0,0.0,NaN,0.0,1.0
111429,2021,4,12,27,1,12/27/2021 12:00:00 AM,YX,5610,"New Orleans, LA",LA,"New York, NY",NY,1319.0,-1.0,1657.0,-15.0,0.0,NaN,0.0,1.0
111431,2021,4,12,28,2,12/28/2021 12:00:00 AM,YX,5610,"New Orleans, LA",LA,"New York, NY",NY,1316.0,-4.0,1705.0,-7.0,0.0,NaN,0.0,1.0
111433,2021,4,12,29,3,12/29/2021 12:00:00 AM,YX,5610,"New Orleans, LA",LA,"New York, NY",NY,1315.0,-5.0,1709.0,-3.0,0.0,NaN,0.0,1.0
111435,2021,4,12,30,4,12/30/2021 12:00:00 AM,YX,5610,"New Orleans, LA",LA,"New York, NY",NY,1319.0,-1.0,1657.0,-15.0,0.0,NaN,0.0,1.0

In [ ]:
df_cancelled_month = df[['CANCELLED','CANCELLATION_CODE','MONTH']]
# df_cancelled_month = df_cancelled_month.groupby(['MONTH']).sum()
df_cancelled_month.CANCELLATION_CODE.value_counts()

B    1846
A     402
C     236
D       2
Name: CANCELLATION_CODE, dtype: int64